:host {
  display        : flex;
  align-items    : center;
  justify-content: center;
  height         : 100vh;
}

.form-field {
  display: block;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}