<mat-card [style.width.rem]="25">
  <h2>
    <b>Register</b>
  </h2>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Email</mat-label>
      <input matInput type="text" autocomplete="off" formControlName="email" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Password</mat-label>
      <input
        matInput
        min="6"
        type="password"
        autocomplete="off"
        formControlName="password"
      />
    </mat-form-field>

    <!-- Actions -->
    <div class="actions">
      <a routerLink="../login">Back to login</a>
      <button
        type="reset"
        color="primary"
        mat-flat-button
        (click)="onRegister()"
        [disabled]="registerForm.invalid"
      >
        Submit
      </button>
    </div>
  </form>
</mat-card>
